:root{
    --slight-blue: #bacdff;
    --medium-blue: #414dff;
    --main-blue: #1c15ed;
    --second-blue: #110f57;
}

header{
    position: fixed;
    top: 0;
    right: 30px;
    font-family: system-ui;
    margin-top: 2rem;
    padding: 1.6em 1.4em;
    border-radius: 100%;
    background-color: #4975e4;
    z-index: 1000 !important;
}

.cart-icon{
    opacity: .85;
    font-size: 5em;
    margin: 0 .1em;
    cursor: pointer;
    position: relative;
    transition: color .3s;
}

.cart-icon:hover{
    opacity: 1;
}

.counter{
    font-size: 2.3em;
    font-weight: bolder;
    background-color: #2f2929;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    position: absolute;
    right: -10px;
    padding: .1em .5em;
    top: 1em;
    user-select: none;
}
